{% extends "layout.twig" %}
{% block content %}

<div class="bk-pt-default">

<div id="wrap">
	<nav class="bk-nav" id="nav">
		{{widget('extendednavigation', 'navigationheader', {"align":"left"})|raw}}
		{{widget('profile', 'footerprofileleft', { 'profileType' : 'socialicons' })|raw}}
	</nav>
	<header class="bk-header">
		{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png'),"showTplWidget":"0"})|raw}}
		{{widget('companyname', 'companyname', {"business": "profile"})|raw}}
	</header>
	<div role="main" id="main">
		<div class="container" id="container">
			{{zone('main')|raw}}
		</div><!--end contain-->
		{% include 'includes/footer.twig' %}
	</div><!--end main-->
</div><!--end wrap-->

</div>

{% endblock %}