{% extends "layout.twig" %}
{% block content %}

<div id="wrap">
	<nav class="bk-nav" id="nav">
		{{widget('extendednavigation', 'navigationheader', {"align":"left"})|raw}}
		{{widget('socialicons', 'social', {'googleplus': 'https://plus.google.com/101946323226233111530', 'linkedin':'http://www.linkedin.com/company/basekit', 'facebook': 'https://www.facebook.com/TeamBaseKit', 'twitter': 'https://twitter.com/basekit', 'youtube': 'https://www.youtube.com/user/TeamBaseKit', 'rss': 'http://blogdiseno.basekit.es/feed/'})|raw}}
	</nav>
	<header class="bk-header">
		{{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png'),"showTplWidget":"0"})|raw}}
		{{widget('companyname', 'companyname', {"business": "profile"})|raw}}
		{{widget('profile', 'headercompanydescription', {'profileType':'companydescription'})|raw}}
	</header>
	<div role="main" id="main">
		<div class="parallax">
			<div id="group6" class="parallax_group">
				<div class="parallax_layer parallax_layer-back">
					<div class="slideshow-wrapper">
						{{widget('responsiveslideshow', 'responsiveslideshow',
							{'duration':'10',
								'transSpeed': '1000',
								'transType': 'fade',
								'showButtons': true,
								'showBullets': true,
								'allowPause': false,
								'allowLoop': true,
								'showDescription': true,
								'showTitle': true,
								'crop': true,
								'images': [
									{'imageHeight':'auto', 'imageWidth':'100%', 'url':asset('/images/gallery/1.jpg'), 'title':'Fantastic Skyline Template', 'description': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit'},
									{'imageHeight':'auto', 'imageWidth':'100%', 'url':asset('/images/gallery/2.jpg'), 'title':'Epic Landscapes', 'description': 'Lorem ipsum dolor sit amet'},
									{'imageHeight':'auto', 'imageWidth':'100%', 'url':asset('/images/gallery/3.jpg'), 'title':'Slideshow nice & easy', 'description': 'Lorem ipsum dolor sit amet'},
									{'imageHeight':'auto', 'imageWidth':'100%', 'url':asset('/images/gallery/4.jpg'), 'title':'Skyline Template', 'description': 'Lorem ipsum dolor sit amet'},
									{'imageHeight':'auto', 'imageWidth':'100%', 'url':asset('/images/gallery/5.jpg'), 'title':'Fantastic Skyline', 'description': 'Lorem ipsum dolor sit amet, consectetur adipiscing elit'},
									{'imageHeight':'auto', 'imageWidth':'100%', 'url':asset('/images/gallery/6.jpg'), 'title':'Fantastic Skyline', 'description': 'Lorem ipsum dolor sit amet'}
								]
							})|raw
						}}
					</div>
				</div>
			</div>
			<div id="group5" class="parallax_group">
				<div class="parallax_layer parallax_layer-base">	
					<div class="contain" id="contain">
						{{zone('main')|raw}}
					</div><!--end contain-->
				</div>
			</div>
		</div>
		{% include 'includes/footer.twig' %}
	</div><!--end main-->
</div><!--end wrap-->

{% endblock %}